<%= simple_form_for @event do |f| %>
  <%= render "shared/error_messages", :target => @event %>

  <div class="form-inputs">
    <!-- <= f.input :title %> -->
    <div class="row">
      <div class="col-md-5 form-group">
        <%= f.input :turma_id, collection: Turma.order(:name), label_method: :name, value_method: :id, :prompt => 'Escolha a Turma', input_html: { class: "form-control input-sm" } %>
      </div>
      <div class="col-md-5 form-group">
        <%= f.input :discipline_id, collection: Discipline.order(:name), label_method: :name, value_method: :id, :prompt => 'Escolha a Disciplina', input_html: { class: "form-control input-sm" } %>
      </div>
      <div class="col-md-2 form-group">
        <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
          <%= f.label :start_date, class: 'control-label' %>
          <%= f.text_field :start_date, value: (@event.start_date.strftime('%d/%m/%Y %H:%M') unless @event.start_date.nil?), class: 'form-control input-sm date-time-picker-start' %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :end_date, class: 'control-label' %>
        <%= f.text_field :end_date, value: (@event.end_date.strftime('%d/%m/%Y %H:%M') unless @event.end_date.nil?), class: 'form-control input-sm date-time-picker-end' %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
