<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <%= link_to "Cadastrar aula", new_recurring_event_path, class: "btn btn-sm btn-primary", title: 'Cadastrar uma aula e repeti-la até uma determinada data.' %>
  </div>
  <div class="panel-body">
    <div class="simple-calendar">
      <div class="calendar-heading text-center" style="margin-bottom: 5px;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to t('simple_calendar.previous', default: 'Anterior'), calendar.url_for_previous_view, class: 'btn btn-sm btn-primary' %>
          <button type="button" class="btn btn-sm btn-default calendar-title">
            <span class=""><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
          </button>
          <%= link_to t('simple_calendar.next', default: 'Próximo'), calendar.url_for_next_view, class: 'btn btn-sm btn-primary' %>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% date_range.each_slice(7) do |week| %>
            <tr>
              <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                  <!-- <= link_to "Nova", new_recurring_event_path(data: day), class: "btn btn-xs pull-right btn-primary" %> -->
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                  <% else %>
                    <% block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
