<%= simple_form_for(@recurring_event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= simple_fields_for :outros do |n| %>
      <%= n.input :turma_id, collection: Turma.order(:name), label_method: :name, value_method: :id, :prompt => 'Escolha a Turma', input_html: { class: "form-control input-sm" } %>
      <%= n.input :discipline_id, collection: Discipline.order(:name), label_method: :name, value_method: :id, :prompt => 'Escolha a Disciplina', input_html: { class: "form-control input-sm" } %>
     <% end %>
    <!-- <= f.input :anchor, input_html: { class: "form-control input-sm" } %> -->
    <!-- <= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %> -->
    <%= f.text_field :start_date, class: 'form-control input-sm date-time-picker' %>
    <%= f.input :end_date, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.input :frequency, as: :select, collection: RecurringEvent.frequencies.keys, input_html: { class: "form-control input-sm" } %>
    <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
