<div class="panel panel-default">
  <div class="panel-heading clearfix" style="background-color: <%= @recurring_event.color %>">
    <span class="alert badge pull-right"><%= @recurring_event.frequency %></span>
  </div>
  <div class="panel-body">

    <table class='table table-striped table-bordered table-condensed'>
      <thead>
        <tr>
          <th>Data Inicial</th>
          <th>Data Final</th>
          <th>Turma</th>
          <th>Disciplina</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <!-- <td><= event.title %></td> -->
            <td><%= event.start_date.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= event.end_date.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= event.turma.name unless event.turma.nil? %></td>
            <td><%= event.discipline.name unless event.discipline.nil? %></td>
            <td><%= link_to 'Detalhes', event, class: 'btn btn-xs btn-block btn-info' %></td>
            <td><%= link_to 'Alterar', edit_event_path(event), class: 'btn btn-xs btn-block btn-warning' %></td>
            <td><%= link_to 'Excluir', event, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-xs btn-block btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @events %>

  </div>
  <div class="panel-footer">
    <%= link_to 'Voltar', :back, class: 'btn btn-sm btn-default' %>
    <%= link_to 'Alterar', edit_recurring_event_path(@recurring_event), class: 'btn btn-sm btn-warning' %>
    <%= link_to "Excluir todos os #{@recurring_event.events.count} eventos relacionados", recurring_event_path(@recurring_event), method: :delete, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
